<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
</head>
<body>
<p>
    <a href="/employee/list">Go to list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${employee}" th:action="@{/employee/create}" method="post" >
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <label><input th:field="*{name}"></label>
            </td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
               <label> <input th:field="*{email}"></label>
            </td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
         <tr>
            <td>number:</td>
            <td>
               <label> <input th:field="*{number}"></label>
            </td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">number Error</td>
        </tr>
         <tr>
            <td>Age:</td>
            <td>
               <label> <input th:field="*{age}"></label>
            </td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td>
                <label> <input th:field="*{salary}"></label>
            </td>
            <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">salary Error</td>
        </tr>

        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>